extends layout

block content
  h1= title
  
  section
    if products !== null && products !== undefined
      table Products
        hr
        tbody
          each product in products
            if product.productName !== null && product.productId !== null
              div
                tr
                  form(action=`${process.env.IP}/updateProduct` method='POST')
                    input(type='text' value=product.productName name='ProductName')
                    input(type='hidden' value=product.productId name='ProductId')
                    button(type='submit' value='Submit' formaction=`${process.env.IP}/updateProduct`) Update
                    button(type='submit' value='Submit' formaction=`${process.env.IP}/deleteProduct`) Delete

  hr

  section
    form(action=`${process.env.IP}/createProduct` method='POST')
      label(for='createproduct')
      input(type='text' value='' placeholder='Enter a new product' name='ProductName' id='createproduct')
  
    

